#root {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
}

#logo, #nav {
  font-family: 'Montserrat', sans-serif;
}

#header-logo {
  font-family:'Eutemia'
}